$primary-color: #006dff;
$primary-color-light: #3b86fa;
$primary-color-dark: #4f5aee;
$secondary-color: #1dd56c;
$secondary-color-light: #3EDB81;
$warning-color: #f70932;
$warning-color-dark: #c50228;
$font-color: #4f4f54;